In [2]:
#example of remove element from list
l1=[12,26,17,34,55,81]
l1.remove(55)
print(l1)

l1.pop()
print(l1)

l1.pop(0)
print(l1)

l1.clear()
print(l1)

del l1      #it show error becoz del delete list from memory
print(l1)

[12, 26, 17, 34, 81]
[12, 26, 17, 34]
[26, 17, 34]
[]

NameError: name 'l1' is not defined

In [3]:
#Example of Extend()
l1=[12,26,17,34,55,81]
l2=[13,27,18,35,56,82]
l1.extend(l2)
print(l1)

[12, 26, 17, 34, 55, 81, 13, 27, 18, 35, 56, 82]

In [4]:
#Merge two list
l1=[12,26,17,34,55,81]
l2=[13,27,18,35,56,82]
l3= l1+l2
print(l3)

[12, 26, 17, 34, 55, 81, 13, 27, 18, 35, 56, 82]

In [5]:
# exaple of list constructor
l1=[12,26,17,34,55,81]
l2=[13,27,18,35,56,82]
l1=list(l2)                 #l1 store all element of l2
print(l1)

[13, 27, 18, 35, 56, 82]

In [6]:
#index to value and value to index
l1=[12,26,17,34,55,81]
print(l1)

print(l1[0])   #index to value

print(l1.index(34))  #value to index

print(l1[2:4])

[12, 26, 17, 34, 55, 81]
12
3
[17, 34]

In [7]:
# Example of reverse list
l1=[12,26,17,34,55,81]
l1.reverse()
print(l1)

[81, 55, 34, 17, 26, 12]

In [9]:
#Example of Accending order list
l1=[12,26,17,34,81,55]
l1.sort()
print(l1)

[12, 17, 26, 34, 55, 81]

In [10]:
#Example of decending order list
l1=[12,26,17,34,81,55]
l1.sort(reverse=True)
print(l1)

[81, 55, 34, 26, 17, 12]

In [11]:
# Example of Sum,max,min, len

l1=[12,26,17,34,55,81]
print(sum(l1))
print(max(l1))
print(min(l1))
print(len(l1))

225
81
12
6

In [12]:
#Example for replace element from list
l1=["mango","orange","Apple","kiwi"]
l1[1]="Cherry"
print(l1)

['mango', 'Cherry', 'Apple', 'kiwi']

In [13]:
#Example for replace multiple element from list
l1=[12,26,17,34,55,81]
l1[1:3]=[4,6]
print(l1)

[12, 4, 6, 34, 55, 81]

In [14]:
#Another Example

l1=[12,26,17,34,55,81]
l1[1:2]=[5,7]
print(l1)

[12, 5, 7, 17, 34, 55, 81]

In [15]:
#Example of insert element in list without replace

l1=[12,26,17,34,55,81]
l1.insert(2,"Watermelon")
print(l1)

[12, 26, 'Watermelon', 17, 34, 55, 81]