In [1]:
#Example of While loop
i=1
while i <=5:
    print("Play Mario")
    i+=1

Play Mario
Play Mario
Play Mario
Play Mario
Play Mario

In [2]:
#Do you want Add more subject
Status=True
while Status:
    Subject=input("Enter your Subject name:")
    Choice="Do you want enter more subject press 'y' for 'yes' and 'n' for 'no'"
    if Choice=='n' or Choice=='No' or Choice=='N' or Choice=='no':
        Status=False

In [1]:
#Accept marks from student and check pass or fail if fail then status false 
Status=True
while Status:
    marks=int(input("Enter marks:"))
    if marks<35:
        print("FAIL")
        Status=False
    else:
        print("PASS")

PASS
FAIL

In [5]:
#nester loop pattern example
for row in range(1,9):
    for col in range(1,9):
        print("*",end=" ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [6]:
#pattern example2

for row in range(1,6):
    for col in range(1,6):
        if row==3 and col==3:
            print("$",end=" ")
        else:
            print("*",end=" ")
    print()

* * * * *
* * * * *
* * $ * *
* * * * *
* * * * *

In [7]:
#patteren 3

for row in range(1,6):
    for col in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [2]:
#patteren 4
for row in range(1,6):
    for col in range(1,row+1):
        print(row,end=" ")
    print()

1
22
333
4444
55555

In [3]:
#patteren 5
for row in range(1,6):
    for col in range(1,row+1):
        print(col,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
#patteren 6
for row in range(1,6):
    for col in range(1,row+1):
        if row%2==0:
            print("0",end=" ")
        else:
            print("",end=" ")
    print()

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

In [5]:
#Example of break
for row in range(1,6):
    Mark = int(input("Enter ur marks:"))
    if Mark>35:
        print(" Pass")
    else:
        break

 Pass

In [6]:
#Example of Continue
for i in range(1,6):
    if i==3:
        continue
    else:
        print(i)

1
2
4
5